Worst-case complexity is O(n^2)

1) Compare first element with next element.

2) If current element > next element, swap them.

3) If current element < next element, move to next element.

4) Repeat from step 1.

In [1]:
def bubble_sort(inp_list):
    size = len(inp_list)
    for i in range(size-1):
        for j in range(size-1-i):
            if inp_list[j]>inp_list[j+1]:
                temp = inp_list[j+1]
                inp_list[j+1] = inp_list[j]
                inp_list[j] = temp
    print(inp_list)

inp_list = [70,30,60,20,80,30,90,40,50]
bubble_sort(inp_list)

[20, 30, 30, 40, 50, 60, 70, 80, 90]

In [2]:
def bubble_sort(inp_list):
    size = len(inp_list)
    for i in range(size-1):
        for j in range(size-1-i):
            if inp_list[j]>inp_list[j+1]:
                temp = inp_list[j+1]
                inp_list[j+1] = inp_list[j]
                inp_list[j] = temp
    print(inp_list)

inp_list = ['hrisav', 'rihel', 'megha', 'riddhi', 'mudita']
bubble_sort(inp_list)

['hrisav', 'megha', 'mudita', 'riddhi', 'rihel']

## Question

Modify bubble_sort function such that it can sort following list of transactions happening in an electronic store,

inp_list = [

        { 'name': 'rihel',  'transaction_amount': 1000},
        { 'name': 'hrisav', 'transaction_amount': 400},
        { 'name': 'megha',  'transaction_amount': 200},
        { 'name': 'rishti', 'transaction_amount': 800},
  
  ]

bubble_sort function should take key from a transaction record and sort the list as per that key.

For example,

bubble_sort(inp_list, key='transaction_amount')

This will sort inp_list by transaction_amount and your sorted list will look like,

inp_list = [

        { 'name': 'megha',  'transaction_amount': 200},
        { 'name': 'hrisav', 'transaction_amount': 400},
        { 'name': 'rishti',  'transaction_amount': 800},
        { 'name': 'rihel', 'transaction_amount': 1000},
  
  ]

In [3]:
inp_list = [
        { 'name': 'rihel',  'transaction_amount': 1000},
        { 'name': 'hrisav', 'transaction_amount': 400},
        { 'name': 'megha',  'transaction_amount': 200},
        { 'name': 'rishti', 'transaction_amount': 800},
    ]

In [4]:
for i in inp_list:
    print(i['transaction_amount'])

1000
400
200
800

In [5]:
inp_list[0]['transaction_amount']

1000

In [6]:
def bubble_sort(inp_list, key=None):
    size = len(inp_list)
    for i in range(size-1):
        for j in range(size-1-i):
            if inp_list[j][key]>inp_list[j+1][key]:
                temp = inp_list[j+1]
                inp_list[j+1] = inp_list[j]
                inp_list[j] = temp
    print(inp_list)

In [7]:
inp_list = [
        { 'name': 'rihel',  'transaction_amount': 1000},
        { 'name': 'hrisav', 'transaction_amount': 400},
        { 'name': 'megha',  'transaction_amount': 200},
        { 'name': 'rishti', 'transaction_amount': 800},
    ]

bubble_sort(inp_list, key='transaction_amount')

[{'name': 'megha', 'transaction_amount': 200}, {'name': 'hrisav', 'transaction_amount': 400}, {'name': 'rishti', 'transaction_amount': 800}, {'name': 'rihel', 'transaction_amount': 1000}]

In [8]:
inp_list = [
        { 'name': 'rihel',  'transaction_amount': 1000},
        { 'name': 'hrisav', 'transaction_amount': 400},
        { 'name': 'megha',  'transaction_amount': 200},
        { 'name': 'rishti', 'transaction_amount': 800},
    ]

bubble_sort(inp_list, key='name')

[{'name': 'hrisav', 'transaction_amount': 400}, {'name': 'megha', 'transaction_amount': 200}, {'name': 'rihel', 'transaction_amount': 1000}, {'name': 'rishti', 'transaction_amount': 800}]