Worst-case complexity is O(n^2)

1) Starting from 1st element, search for the smallest element in list.

2) Swap min number with the 1st element of list.

3) Ignore sorted part, and check with the 2nd element if it is smallest in list.

4) If yes, then swap with 2nd element. Repeat the steps until list is sorted.

## Finding min value of list and its index

In [1]:
def min_value(inp_list):
    size = len(inp_list)
    min_num = inp_list[0]
    for i in range(size-1):               # for element
        if min_num <= inp_list[i+1]:    
            pass
        else:
            min_num = inp_list[i+1]
    for i in range(size-1):               # for element's index
        if min_num == inp_list[i]:
            pos = i
            break
        else:
            pass
    print(min_num, pos)

In [2]:
inp_list = [70,30,60,20,80,30,20,90,40,50]
min_value(inp_list)

20 3

## Selection Sort

In [3]:
def selection_sort(inp_list):
    size = len(inp_list)
    for i in range(size-1):                                                 # run till 2nd last element of list
        min_pos = i
        for j in range(i,size):                                             # loop until you get index of min value in list
            if inp_list[j] < inp_list[min_pos]:
                min_pos = j
        inp_list[i], inp_list[min_pos] = inp_list[min_pos], inp_list[i]     # swap with min value of list
    return inp_list

In [4]:
inp_list = [70,30,60,20,80,30,20,90,40,50]
selection_sort(inp_list)

[20, 20, 30, 30, 40, 50, 60, 70, 80, 90]

In [5]:
inp_list = ['hrisav', 'rihel', 'megha', 'riddhi', 'mudita']
selection_sort(inp_list)

['hrisav', 'megha', 'mudita', 'riddhi', 'rihel']

## Question

Implement a Multi-Level Sort of a given list of dictionaries based on a given sorting order. If user wants to sort dictionary based on First Key 'A', Then Key 'B', they shall pass list of keys in the order of preference as a list ['A','B']. Your code should be able to sort list of dictionaries for any number of keys in sorting order list.

Using this multi-level sort, you should be able to sort any list of dictionaries based on sorting order preference.

Example: A single dictionary entry contains two keys 'First Name' and 'Last Name'. the list should be sorted first based on 'First Name', then based on 'Last Name', w.r.t. common/same 'First Name' entries.

For this, one shall past sorting order of preference list [ 'First Name' , 'Last Name' ]

For this, Given the following sequence List:

    {'First Name': 'Raj', 'Last Name': 'Nayyar'},
    {'First Name': 'Suraj', 'Last Name': 'Sharma'},
    {'First Name': 'Karan', 'Last Name': 'Kumar'},
    {'First Name': 'Jade', 'Last Name': 'Canary'},
    {'First Name': 'Raj', 'Last Name': 'Thakur'},
    {'First Name': 'Raj', 'Last Name': 'Sharma'},
    {'First Name': 'Kiran', 'Last Name': 'Kamla'},
    {'First Name': 'Armaan', 'Last Name': 'Kumar'},
    {'First Name': 'Jaya', 'Last Name': 'Sharma'},
    {'First Name': 'Ingrid', 'Last Name': 'Galore'},
    {'First Name': 'Jaya', 'Last Name': 'Seth'},
    {'First Name': 'Armaan', 'Last Name': 'Dadra'},
    {'First Name': 'Ingrid', 'Last Name': 'Maverick'},
    {'First Name': 'Aahana', 'Last Name': 'Arora'}

Your algorithm should generate sorted list:

    {'First Name': 'Aahana', 'Last Name': 'Arora'}
    {'First Name': 'Armaan', 'Last Name': 'Dadra'}
    {'First Name': 'Armaan', 'Last Name': 'Kumar'}
    {'First Name': 'Ingrid', 'Last Name': 'Galore'}
    {'First Name': 'Ingrid', 'Last Name': 'Maverick'}
    {'First Name': 'Jade', 'Last Name': 'Canary'}
    {'First Name': 'Jaya', 'Last Name': 'Seth'}
    {'First Name': 'Jaya', 'Last Name': 'Sharma'}
    {'First Name': 'Karan', 'Last Name': 'Kumar'}
    {'First Name': 'Kiran', 'Last Name': 'Kamla'}
    {'First Name': 'Raj', 'Last Name': 'Nayyar'}
    {'First Name': 'Raj', 'Last Name': 'Sharma'}
    {'First Name': 'Raj', 'Last Name': 'Thakur'}
    {'First Name': 'Suraj', 'Last Name': 'Sharma'}

### Accessing dictionary:

In [6]:
inp_list =[
        {'First Name': 'Raj', 'Last Name': 'Nayyar'},
        {'First Name': 'Suraj', 'Last Name': 'Sharma'},
        {'First Name': 'Karan', 'Last Name': 'Kumar'},
        {'First Name': 'Jade', 'Last Name': 'Canary'},
        {'First Name': 'Raj', 'Last Name': 'Thakur'},
        {'First Name': 'Raj', 'Last Name': 'Sharma'},
        {'First Name': 'Kiran', 'Last Name': 'Kamla'},
        {'First Name': 'Armaan', 'Last Name': 'Kumar'},
        {'First Name': 'Jaya', 'Last Name': 'Sharma'},
        {'First Name': 'Ingrid', 'Last Name': 'Galore'},
        {'First Name': 'Jaya', 'Last Name': 'Seth'},
        {'First Name': 'Armaan', 'Last Name': 'Dadra'},
        {'First Name': 'Ingrid', 'Last Name': 'Maverick'},
        {'First Name': 'Aahana', 'Last Name': 'Arora'}
    ]

In [7]:
print(*inp_list, sep='\n')

{'First Name': 'Raj', 'Last Name': 'Nayyar'}
{'First Name': 'Suraj', 'Last Name': 'Sharma'}
{'First Name': 'Karan', 'Last Name': 'Kumar'}
{'First Name': 'Jade', 'Last Name': 'Canary'}
{'First Name': 'Raj', 'Last Name': 'Thakur'}
{'First Name': 'Raj', 'Last Name': 'Sharma'}
{'First Name': 'Kiran', 'Last Name': 'Kamla'}
{'First Name': 'Armaan', 'Last Name': 'Kumar'}
{'First Name': 'Jaya', 'Last Name': 'Sharma'}
{'First Name': 'Ingrid', 'Last Name': 'Galore'}
{'First Name': 'Jaya', 'Last Name': 'Seth'}
{'First Name': 'Armaan', 'Last Name': 'Dadra'}
{'First Name': 'Ingrid', 'Last Name': 'Maverick'}
{'First Name': 'Aahana', 'Last Name': 'Arora'}

In [8]:
inp_list[0]

{'First Name': 'Raj', 'Last Name': 'Nayyar'}

In [9]:
inp_list[0]['First Name']

'Raj'

### Solution:

In [10]:
def sort_names(inp_list, sort_by_list):
    size = len(inp_list)
    for sort_by in sort_by_list:
        for i in range(size):
            min_pos = i
            for j in range(i, size):
                if inp_list[j][sort_by] < inp_list[min_pos][sort_by]:
                    min_pos = j
            inp_list[i], inp_list[min_pos] = inp_list[min_pos], inp_list[i]

In [11]:
inp_list = [
        {'First Name': 'Raj', 'Last Name': 'Nayyar'},
        {'First Name': 'Suraj', 'Last Name': 'Sharma'},
        {'First Name': 'Karan', 'Last Name': 'Kumar'},
        {'First Name': 'Jade', 'Last Name': 'Canary'},
        {'First Name': 'Raj', 'Last Name': 'Thakur'},
        {'First Name': 'Raj', 'Last Name': 'Sharma'},
        {'First Name': 'Kiran', 'Last Name': 'Kamla'},
        {'First Name': 'Armaan', 'Last Name': 'Kumar'},
        {'First Name': 'Jaya', 'Last Name': 'Sharma'},
        {'First Name': 'Ingrid', 'Last Name': 'Galore'},
        {'First Name': 'Jaya', 'Last Name': 'Seth'},
        {'First Name': 'Armaan', 'Last Name': 'Dadra'},
        {'First Name': 'Ingrid', 'Last Name': 'Maverick'},
        {'First Name': 'Aahana', 'Last Name': 'Arora'}
    ]

print('Before sorting..')
print(*inp_list, sep='\n')

sort_names(inp_list, ['Last Name', 'First Name'])

print()
print('After sorting..')
print(*inp_list, sep='\n')

Before sorting..
{'First Name': 'Raj', 'Last Name': 'Nayyar'}
{'First Name': 'Suraj', 'Last Name': 'Sharma'}
{'First Name': 'Karan', 'Last Name': 'Kumar'}
{'First Name': 'Jade', 'Last Name': 'Canary'}
{'First Name': 'Raj', 'Last Name': 'Thakur'}
{'First Name': 'Raj', 'Last Name': 'Sharma'}
{'First Name': 'Kiran', 'Last Name': 'Kamla'}
{'First Name': 'Armaan', 'Last Name': 'Kumar'}
{'First Name': 'Jaya', 'Last Name': 'Sharma'}
{'First Name': 'Ingrid', 'Last Name': 'Galore'}
{'First Name': 'Jaya', 'Last Name': 'Seth'}
{'First Name': 'Armaan', 'Last Name': 'Dadra'}
{'First Name': 'Ingrid', 'Last Name': 'Maverick'}
{'First Name': 'Aahana', 'Last Name': 'Arora'}

After sorting..
{'First Name': 'Aahana', 'Last Name': 'Arora'}
{'First Name': 'Armaan', 'Last Name': 'Dadra'}
{'First Name': 'Armaan', 'Last Name': 'Kumar'}
{'First Name': 'Ingrid', 'Last Name': 'Galore'}
{'First Name': 'Ingrid', 'Last Name': 'Maverick'}
{'First Name': 'Jade', 'Last Name': 'Canary'}
{'First Name': 'Jaya', 'Last Name': 'Seth'}
{'First Name': 'Jaya', 'Last Name': 'Sharma'}
{'First Name': 'Karan', 'Last Name': 'Kumar'}
{'First Name': 'Kiran', 'Last Name': 'Kamla'}
{'First Name': 'Raj', 'Last Name': 'Sharma'}
{'First Name': 'Raj', 'Last Name': 'Nayyar'}
{'First Name': 'Raj', 'Last Name': 'Thakur'}
{'First Name': 'Suraj', 'Last Name': 'Sharma'}